tags/milestone1/Noxa.Emulation.Psp.Player/Web References/CompatibilityService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://psp.ixtli.com/pspcompat/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://psp.ixtli.com/pspcompat/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://psp.ixtli.com/pspcompat/">
      <s:element name="ListGames">
        <s:complexType />
      </s:element>
      <s:element name="ListGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListGamesResult" type="tns:ArrayOfGame" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGame">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Game">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GameID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Releases" type="tns:ArrayOfGameRelease" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGameRelease">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GameRelease" nillable="true" type="tns:GameRelease" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GameRelease">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GameID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Region" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DiscID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GameVersion" nillable="true" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemVersion" nillable="true" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="HasIcon" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gameId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGameResult" type="tns:Game" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="release" type="tns:GameRelease" />
            <s:element minOccurs="0" maxOccurs="1" name="icon" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddGameResult" type="tns:AddResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AddResult">
        <s:restriction base="s:string">
          <s:enumeration value="Succeeded" />
          <s:enumeration value="PermissionDenied" />
          <s:enumeration value="Redundant" />
          <s:enumeration value="Failed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddRelease">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gameId" nillable="true" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="release" type="tns:GameRelease" />
            <s:element minOccurs="0" maxOccurs="1" name="icon" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReleaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddReleaseResult" type="tns:AddResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCompatibility">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="discId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="components" type="tns:ArrayOfComponentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfComponentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComponentInfo" nillable="true" type="tns:ComponentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComponentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ComponentInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="tns:Version" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Build" type="tns:ComponentInfoBuild" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ComponentInfoType">
        <s:restriction base="s:string">
          <s:enumeration value="Audio" />
          <s:enumeration value="Bios" />
          <s:enumeration value="Cpu" />
          <s:enumeration value="Input" />
          <s:enumeration value="UserMedia" />
          <s:enumeration value="GameMedia" />
          <s:enumeration value="Network" />
          <s:enumeration value="Video" />
          <s:enumeration value="Other" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Version" />
      <s:simpleType name="ComponentInfoBuild">
        <s:restriction base="s:string">
          <s:enumeration value="Debug" />
          <s:enumeration value="Testing" />
          <s:enumeration value="Release" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CheckCompatibilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckCompatibilityResult" type="tns:CompatibilityResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CompatibilityResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Found" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GameID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ReleaseID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Game" type="tns:Game" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="tns:CompatibilityLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CompatibilityLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Crashing" />
          <s:enumeration value="Menus" />
          <s:enumeration value="Playable" />
          <s:enumeration value="Complete" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListGamesSoapIn">
    <wsdl:part name="parameters" element="tns:ListGames" />
  </wsdl:message>
  <wsdl:message name="ListGamesSoapOut">
    <wsdl:part name="parameters" element="tns:ListGamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGameSoapIn">
    <wsdl:part name="parameters" element="tns:GetGame" />
  </wsdl:message>
  <wsdl:message name="GetGameSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameResponse" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapIn">
    <wsdl:part name="parameters" element="tns:AddGame" />
  </wsdl:message>
  <wsdl:message name="AddGameSoapOut">
    <wsdl:part name="parameters" element="tns:AddGameResponse" />
  </wsdl:message>
  <wsdl:message name="AddReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:AddRelease" />
  </wsdl:message>
  <wsdl:message name="AddReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:AddReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCompatibilitySoapIn">
    <wsdl:part name="parameters" element="tns:CheckCompatibility" />
  </wsdl:message>
  <wsdl:message name="CheckCompatibilitySoapOut">
    <wsdl:part name="parameters" element="tns:CheckCompatibilityResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ListGames">
      <wsdl:input message="tns:ListGamesSoapIn" />
      <wsdl:output message="tns:ListGamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <wsdl:input message="tns:GetGameSoapIn" />
      <wsdl:output message="tns:GetGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <wsdl:input message="tns:AddGameSoapIn" />
      <wsdl:output message="tns:AddGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRelease">
      <wsdl:input message="tns:AddReleaseSoapIn" />
      <wsdl:output message="tns:AddReleaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCompatibility">
      <wsdl:input message="tns:CheckCompatibilitySoapIn" />
      <wsdl:output message="tns:CheckCompatibilitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListGames">
      <soap:operation soapAction="http://psp.ixtli.com/pspcompat/ListGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap:operation soapAction="http://psp.ixtli.com/pspcompat/GetGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap:operation soapAction="http://psp.ixtli.com/pspcompat/AddGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelease">
      <soap:operation soapAction="http://psp.ixtli.com/pspcompat/AddRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCompatibility">
      <soap:operation soapAction="http://psp.ixtli.com/pspcompat/CheckCompatibility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListGames">
      <soap12:operation soapAction="http://psp.ixtli.com/pspcompat/ListGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap12:operation soapAction="http://psp.ixtli.com/pspcompat/GetGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGame">
      <soap12:operation soapAction="http://psp.ixtli.com/pspcompat/AddGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelease">
      <soap12:operation soapAction="http://psp.ixtli.com/pspcompat/AddRelease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCompatibility">
      <soap12:operation soapAction="http://psp.ixtli.com/pspcompat/CheckCompatibility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8080/PSPCompat/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8080/PSPCompat/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>